*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Times New Roman', Times, serif;
    list-style: none;
    text-decoration: none;


}

.logo img{
    max-width: 120px;
    height: auto;

}

header{
    position:sticky;
    width: 100%;
    top:0;
    right:0;
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 5%;
    background-color:whitesmoke;
    box-shadow: 0 5px 15px rgba(0,0,0,0.06);


}
.navmenu{
    display: flex;
  
}
.navmenu a{
    color:#835151;
    font-size: 17px;
    text-transform: capitalize;
    padding: 10px 20px;
    font-weight: 400;
    transition: all .42s ease;
    
}

.navmenu a:hover,
.navmenu a.active{
    color:#F08FC0;

}
.nav-icon{
   display: flex;
   align-items: center; 
}
.nav-icon i{
    margin-right: 20px;
    color: #F08FC0;
    font-size: 25px;
    font-weight: 400;
    transition: all .42s ease;
}

.nav-icon i:hover{
    transform: scale(1.1);
    color: magenta;
}

#menu-icon{
    font-size: 35px;
    color: palevioletred;
    z-index: 10001;
    cursor: pointer;
}

section{
    padding: 10% 5%;
}

.sectionp1{
    padding: 10px 20px;
}

#feature img{
    border-radius: 20px;
    max-width: 90%;
    max-height: 50%;   
}
#feature .fe-box{
    width: 180px;
    text-align: center;
    padding: 15px 10px;
    box-shadow: 40px 40px 54px rgba(0,0,0,0.06) ;
    border: 1px solid #7BC0A3;
    border-radius: 4px;
    margin: 15px 0;
}
#feature .fe-box:hover{
    box-shadow: 10px 10px 54px rgba(70,60,221,0.1);
}
#feature .fe-box h6{
    display: inline-block;
    padding:9px 8px 6px 8px;
    line-height: 1;
    border-radius: 4px;
    color: #543310;
    background-color: beige;

}
#feature .fe-box img{
    width: 100%;
    margin-bottom: 10px;
}
#feature{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
   

}
#product1{
    text-align: center;
}
#product1 .pro-container{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    flex-wrap:wrap;
    

}
#product1 .pro{
    width: 23%;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid lightgrey;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0,0,0,0.06);
    margin: 15px 0;
    transition: 0.2s ease;
}
#product1 .pro:hover{
    box-shadow: 20px 20px 30px rgba(0,0,0,0.06);
}
#product1 .pro img{
    width: 100%;
    border-radius: 20px;
    height: 70%;
}
#product1 .pro .des{
    text-align: start;
    padding: 10px 0;

}
#product1 .pro .des span{
    color:#948979;
    font-size: 12px;
}
#product1 .pro .des h5{
    padding-top: 7px;
    color:#543310;
    font-size: 14px;
}
#product1 .pro .des h4{
    padding-top: 7px;
    font-size: 15px;
    font-weight: 700;
    color:#4F6F52;
}
    
.main-home{
    width: 100%;
    height: 100vh;
    background-image:url(bg.jpeg);
    background-position: center;
    background-size: cover;
    grid-template-columns: repeat(1,1fr);
    align-items: center;

}

.main-text h3{
    color: #74512D;
    font-size: 40px;
    text-transform: capitalize;
    font-weight: 500;
    font-style: oblique;

 }
 .main-text h2{
    color: #7BC0A3;
    font-size: 30px;
    text-transform: capitalize;
    line-height: 1.1;
    font-weight: 600;
    margin: 6px 0 10px;

 }

 .main-text p{
    color:#835151 ;
    font-size: 15px;
    font-style: italic;
    margin-bottom: 20px;

 }

 .main-btn{
    display: inline-block;
    color: #543310;
    font-size: 18px;
    font-weight: 500;
    text-transform: capitalize;
    border: 2px solid #74512D;
    padding: 12px 25px;
    transition: all .42s ease;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;


}

.main-btn:hover{
    background-color:#7BC0A3;
    color: #543310;
}

.main-btn i{
    vertical-align: middle;
}

@media(max-width:890px){
    header{
        padding: 20px 3%;
        transition: .4s;

    }
}
@media(max-width:640px){
    .main-text h2{
        font-size: 50px;
        transition: .4s;
    }
     .main-text p{
        font-size: 18px;
        transition: .4s;

     }
     .main-btn{
        padding: 10px 20px;
        transition: .4s;
     }
} 
@media(max-width:750px){
    .navmenu{
        position: absolute;
        top: 100%;
        right: 0%;
        width: 300px;
        height: 130vh;
        background: whitesmoke;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 120px 30px;
        transition: all .42s;
    }
    

}
#newsletter{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background-repeat: no-repeat;
    background-position: 20% 30%;
    background-color:beige;

 }
 #newsletter h4{
    font-size: 22px;
    font-weight: 700;
    color:#74512D;
    font-style: oblique;
 }
#newsletter .form{
    display: flex;
    width: 40%;
  

}
 #newsletter p{
    font-size: 14px;
    font-weight: 600;
    color:teal;
    font-style: inherit;
 }

 #newsletter p span{
    color:darkgreen
 }
 #newsletter input{
    height: 3.125rem;
    padding: 0 1.25em;
    font-size: 14px;
    width: 100%;
    border: 1px solid transparent;
    border-radius: 4px;
    outline: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
 }
 #newsletter button{
    height: 3.125;
    padding: 0 1.25em;
    font-size: 14px;
    width: 40%;
    border: 1px solid transparent;
    border-radius: 2px;
    outline: none;
    background-color:#7BC0A3;
    white-space: nowrap;
    color: aliceblue;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
 }
     
 





















